<h1>Burgers!</h1>

<h2>Add a burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="burger_name">
  </div>

  <div class="form-group">
    <label for="devour">Devour?</label><br>
    <button type="submit" name="devour" value="1"> Devour!<br>
  </div>

  <button type="submit">Add Burger</button>
</form>